<body class="text-light" style="background-color: #111016">


    <main>
        <section id="hero" class="py-5" style="background-color: #1a1a1f">
            <div class="container">
                <div class="d-flex flex-column flex-column-reverse flex-md-row">
                    <div class="col col-md-5 me-md-5">
                        <!-- <h1 class="fs-1 mb-3 fw-bold">Lorem ipsum dolor sit amet.</h1>
                        <p class="fs-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum odio nibh, mollis vitae
                            tellus sit amet, condimentum laoreet mauris. Ut eu condimentum mauris. Aenean consequat urna
                            sapien, et dignissim nisi elementum
                            quis.
                        </p> -->
                    </div>

                    <div class="col col-md-7">
                        <div>
                            <img style="height:200px;width:600px" class="img-fluid rounded mb-4 mb-md-0"
                                src="https://d4y70tum9c2ak.cloudfront.net/contentImage/cp-xkfWuQLB8A-LnxHmXAXyjr697tiDTJ-H-hSl1VjA/resized.png"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script>
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>